<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Elstar - HTML Tailwind Admin Template</title>

		<!-- Core CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<!-- App Start-->
		<div id="root">
			<!-- App Layout-->
			<div class="app-layout-blank flex flex-auto flex-col h-[100vh]">
				<main class="h-full">
                    <div class="page-container relative h-full flex flex-auto flex-col">
                        <div class="h-full">
                            <div class="container mx-auto flex flex-col flex-auto items-center justify-center min-w-0 h-full">
                                <div class="card min-w-[320px] md:min-w-[450px] card-shadow" role="presentation">
                                    <div class="card-body md:p-10">
                                        <div class="text-center">
                                            <div class="logo">
                                                <img class="mx-auto" src="img/logo/logo-light-streamline.png" alt="Elstar logo">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <div class="mb-4">
                                                <h3 class="mb-1">Forgot Password</h3>
                                            <p>Please enter your email address to receive a verification code</p>
                                            </div>
                                            <div>
                                                <form action="#">
                                                    <div class="form-container vertical">
                                                        <div class="form-item vertical">
                                                            <input
                                                                class="input"
                                                                type="text"
                                                                name="userName"
                                                                autocomplete="off"
                                                                placeholder="Email"
                                                                value=""
                                                            >
                                                        </div>
                                                        <button class="btn btn-solid w-full" type="submit">Send Email</button>
                                                        <div class="mt-4 text-center">
                                                            <span>Back to </span>
                                                            <a class="text-primary-600 hover:underline" href="signin-simple.html">Sign In</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>                
			</div>
		</div>

		<!-- Core Vendors JS -->
		<script src="js/vendors.min.js"></script>

		<!-- Other Vendors JS -->

		<!-- Page js -->

		<!-- Core JS -->
		<script src="js/app.min.js"></script>
	</body>

</html>